.billing-info-container {
    max-width: 800px;
    margin: 0 auto;


    .is-half {
        width: 49%;
    }
}

.billing-info-container__twoFields {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.billing-info-container__singleField {
    margin-top: 15px;
}

.billing-info-container__address {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.billing-info-container__address1 {
    width: 55%;
}

.billing-info-container__address2 {
    width: 42%;
}

button {
    margin-top: 10px;
}